body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}


#HP{
    margin-left: 16px;
}

#HP, #hagyja { 
    color: #60412B;
}

#logo{
    margin-top: 7px;
}

header, footer {
    background-color: #E0D5BF;
    width: 100%;
}

header, footer {
    width: 100%;
    background-color: #E0D5BF;
}

header h2, header h3 {
    text-align: center;
}

header details {
    margin: 20px auto;
    text-align: center;
}


header .container,
footer .container {
    max-width: 2200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

details {
    display: block;
    width: 100%;             
    margin: 20px auto;         
}

details > summary, 
details > * {
    max-width: 2200px;       
    margin: 0 auto;   
    display: block;
    text-align: center;
}


.container {
    max-width: 1200px;  
    margin: 20px auto;     
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;      
}


img {
    margin-top: 11px;
    width: 123px;
    border-radius: 33px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

button {
    font-size: 20px;
    border-radius: 22px;
    border: 3px solid #ff6a00;
    background-color: #FFFFFF;
    color: #60412B;
    width: 111px;
    height: 40px;
    text-decoration: none;
}

.button-group2 {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

h2 {
    font-size: 33px;
    color: #60412B;
    margin: 20px 0;
}

h3{
    font-size: 24px;
    color: #60412B;
    margin: 20px 0;
}

p {
    font-size: 22px;
    color: #60412B;
    max-width: 800px;
}

.person-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person-block img {
    width: 123px;
    border-radius: 33px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: 11px;
}

.person-block p.info {
    font-size: 13px;
    color: grey;
    text-align: center;
}

.person-block button {
    margin-top: 5px;
}

.people {
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 30px;
    width: 100%;
    max-width: 1200px;    
    margin: 0 auto;       
}

@media (min-width: 1024px) {
    .people {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        justify-content: center; 
        justify-items: center;   
        width: 100%;
        max-width: 1200px;    
        margin: 0 auto;
    }
    p {
        font-size: 26px;
    }
    header {
        width: 100%;
    }
    footer {
        width: 100%;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        justify-items: center;
    }

    .container img {
        width: 150px;
    }

    .container p.info {
        text-align: center;
    }

    .container button {
        margin-top: 10px;
    }

}

@media (max-width: 768px) {
    p {
        font-size: 18px;
        margin-left: 12px;
        margin-right: 12px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 19px;
    }
}
